<% if(!driveAuth){ %>
    <form action="/driveAuth" method="GET" >
        <input type="submit" value="Acceso Drive" />
    </form>
<% } %>
<form action="/gestionFicheros" method="GET" >
    <input type="submit" value="Gestionar Ficheros" />
</form>
